//desktop
@media (min-width: 801px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: #F0F5F9;
    }
    body {
        display: grid;
        height: 100vh;
        background-color: #1E2022;
    }
    .sidecontainer {
        display: grid;
        grid-template-columns: 1fr;
    }
    .logo {
        margin: 0 auto;
        height: 8vh;
        background-color: #1E2022;
    }
    .logo img {
        max-width: 100%;
        min-height: 10vh;
        object-fit: cover;
    }

    .dashboard {
        display: grid;
        grid-template-rows: 1fr auto;
        background-color: #1E2022;
        grid-row: span 2;
        margin: 10px;
    }
    .dashboard a {
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.3s ease;
        padding: 10px;
    }
    @keyframes bounceAnimation {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-2px);
        }
    }
    .dashboard a:hover {
        animation: bounceAnimation 0.5s infinite;
        background-color: #52616B;
        border: solid 1px #F0F5F9;
        border-radius: 2px;
    }
    .dashboard span {
        padding-right: 20px;
        white-space: nowrap;
    }
    .dashboard ul li {
        padding-bottom: 50px;
        list-style: none;
        font-size: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

//mediumsizedevices
@media (max-width: 800px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: #F0F5F9;
    }
    body {
        display: grid;
        width: 100%;
        height: 100vh;
        background-color: #1E2022;
        overflow: hidden;
    }
    .sidecontainer {
        display: grid;
        grid-template-columns: 1fr;
    }
    .logo {
        height: 1vh;
        overflow: hidden;
    }
    .dashboard {
        display: grid;
        grid-template-rows: 1fr auto;
        background-color: #1E2022;
        grid-row: span 2;
        margin: 0 auto;
    }
    .dashboard a {
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.3s ease;
        padding-left: 12px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    @keyframes bounceAnimation {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-2px);
        }
    }
    .dashboard a:hover {
        animation: bounceAnimation 0.5s infinite;
        background-color: #52616B;
    }
    .dashboard span {
        padding-right: 20px;
        white-space: nowrap;
    }
    .dashboard ul li {
        padding-bottom: 50px;
        list-style: none;
        font-size: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

//mobiledevices
@media (max-width: 412px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: #F0F5F9;
    }
    body {
        display: grid;
        width: 100%;
        height: 100vh;
        background-color: #1E2022;
        overflow: hidden;
    }
    .sidecontainer {
        display: grid;
        grid-template-columns: 1fr;
    }
    .logo {
        height: 1vh;
        overflow: hidden;
    }
    .dashboard {
        display: grid;
        grid-template-rows: 1fr auto;
        background-color: #1E2022;
        grid-row: span 2;
        margin: 0 auto;
    }
    .dashboard a {
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.3s ease;
        padding-left: 12px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    @keyframes bounceAnimation {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-2px);
        }
    }
    .dashboard a:hover {
        animation: bounceAnimation 0.5s infinite;
        background-color: #52616B;
    }
    .dashboard span {
        padding-right: 20px;
        white-space: nowrap;
    }
    .dashboard ul li {
        padding-bottom: 50px;
        list-style: none;
        font-size: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
