<div class="sidecontainer">
    <div class="logo"><img src="assets/Bryanlogo.png" alt=""></div>
    <div class="dashboard">
        <div>
            <ul class="topLink">
                <li>
                    <a routerLink="manage/dashboard"><span class="material-symbols-outlined">Dashboard</span> Dashboard</a>
                </li>
                <li>
                    <a routerLink="manage/students"> <span class="material-symbols-outlined">
                            diversity_3
                            </span> Students</a>
                </li>
                <li>
                    <a routerLink="manage/teachers"> <span class="material-symbols-outlined">Group</span> Teachers</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="botLink">
                <li>
                    <a routerLink=""><span class="material-symbols-outlined">Settings</span> Settings</a>
                </li>
                <li>
                    <a routerLink="/login"> <span class="material-symbols-outlined">Logout</span> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>