h1 {
    text-align: center;
    color: #1E2022;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btnContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.btnContainer button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #52616B;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.btnContainer button:hover {
    background-color: white;
    color: #333;
}

.arrow {
    font-weight: bold;
}

.table {
    background-color: #52616B;
    overflow: hidden;
    margin: 10px;
}