<h1>
    Teachers</h1>
<div class="container">
    <div class="cards">
        <div class="cardcontainer">
            <app-table-teachers teachersImg={{currentTeacher.teachersImg}} teacherName={{currentTeacher.teacherName}} Subject={{currentTeacher.Subject}} teachersID={{currentTeacher.teachersID}}>
            </app-table-teachers>
        </div>
        <div class="btnContainer">
            <button class="btnNext" (click)="prevTeacher()"><span class="material-symbols-outlined">
                arrow_back_ios
                </span></button>
            <button class="btnPrev" (click)="nextTeacher()"><span class="material-symbols-outlined">
                arrow_forward_ios
                </span></button>
        </div>
    </div>
    <div class="table">
        <div class="scroll-container">
            <app-tableteachers2 *ngFor="let item of teachersData" teachersImg={{item.teachersImg}} teacherName={{item.teacherName}}> </app-tableteachers2>
        </div>
    </div>
</div>