h1 {
    font-size: 1rem;
    color: #333;
    background-color: #F0F5F9;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px;
    box-shadow: 2px 2px 5px 0px #1E2022;
}

.teachersTable {
    font-size: 1vw;
    margin: 10px;
    border-radius: 10px 10px 0 0px;
    overflow-x: hidden;
    height: 80vh;
    box-shadow: 2px 2px 5px 0px #1E2022;
    color: #1E2022;
}

table {
    position: sticky;
    background-color: #52616B;
    color: #F0F5F9;
    top: 0;
    box-shadow: 2px 2px 5px 0px #1E2022;
    z-index: 1;
}

.teachersTable::-webkit-scrollbar {
    width: 10px;
}

.teachersTable::-webkit-scrollbar-thumb {
    background: #718491;
    border-radius: 6px;
}

th.profileImg {
    width: 5%;
    font-size: 1vw;
}

th:not(.profileImg) {
    width: 15%;
}