<h1>Students Management</h1>
<div class="studentCardContainer">
    <div class="studentCard" *ngFor="let student of sortedStudentData">
        <div class="studentImg"><img src="{{student.studentImg}}" alt=""></div>
        <div class="studentInfo">
            <h3>{{student.studentName}}</h3>
        </div>
        <div class="btnDetails">
            <button (click)="clickedDetails(student)">
                View Details
            </button>
        </div>
    </div>
</div>
<app-student-cards *ngIf="showDetails" [userDetail]="currentStudent" (goBack)="goBackConfirm($event)"></app-student-cards>