h1 {
    font-family: Roboto-Regular, 'Helvetica Neue', Helvetica, Tahoma, Arial, Sans-serif;
    font-size: 1rem;
    color: #333;
    background-color: #F0F5F9;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px;
    box-shadow: 2px 2px 5px 0px #1E2022;
}

.studentCardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: auto;
    gap: 25px;
    margin: 20px;
    align-items: baseline;
    font-family: Roboto-Regular, 'Helvetica Neue', Helvetica, Tahoma, Arial, Sans-serif;
    position: relative;
}

.studentCardContainer .studentCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 250px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: solid 1px #1E2022;
    background-color: #F0F5F9;
    color: #1E2022;
    position: relative;
    transition: transform 0.3s ease;
    transform: perspective(1000px) rotateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.studentCardContainer .studentCard:hover {
    transform: perspective(1000px) scale(1.1);
}

.studentCardContainer .studentCard .studentImg {
    display: flex;
    margin: 0 auto;
    padding-top: 10px;
}

.studentCardContainer .studentCard .studentImg img {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: solid 2px #52616B;
}

.studentCardContainer .studentCard .studentInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    font-size: 0.8rem;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-bottom: 10px;
}

.studentCardContainer .status-circle {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    right: 10%;
    top: 5%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #000;
}

.btnContainer .btnUpdate {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #52616B;
    border-radius: 10px;
    color: #F0F5F9;
    background-color: #1E2022;
    max-height: 40px;
    max-width: 40px;
}

.btnContainer .btnDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #52616B;
    border-radius: 10px;
    color: #F0F5F9;
    background-color: #1E2022;
    max-height: 40px;
    max-width: 40px;
}

.btnContainer .btnDelete span {
    font-size: 1rem;
}

.btnContainer .btnUpdate span {
    font-size: 1rem;
}

.btnContainer .btnDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E2022;
    max-height: 20px;
    max-width: 100%;
    color: #F0F5F9;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.5rem;
}

.btnContainer .btnDetails:hover {
    background-color: #F0F5F9;
    color: #1E2022;
    border: solid 1px #1E2022;
}

.btnContainer .btnDelete:hover {
    background-color: #F0F5F9;
    color: #1E2022;
    border: solid 1px #1E2022;
}

.btnContainer .btnUpdate:hover {
    background-color: #F0F5F9;
    color: #1E2022;
    border: solid 1px #1E2022;
}