<h1>Students</h1>
<div class="container">
    <div class="cards">
        <div class="cardcontainer">
            <app-table studentImg={{currentStudent.studentImg}} Name={{currentStudent.Name}} Course={{currentStudent.Course}} studentID={{currentStudent.studentID}}>
            </app-table>
        </div>
        <div class="btnContainer">
            <button class="btnNext" (click)="prevStudent()"><span class="material-symbols-outlined">
                arrow_back_ios
                </span></button>
            <button class="btnPrev" (click)="nextStudent()"><span class="material-symbols-outlined">
                arrow_forward_ios
                </span></button>
        </div>
    </div>
    <div class="table">
        <div class="scroll-container">
            <app-tablestudent *ngFor="let item of studentData" studentImg={{item.studentImg}} Name={{item.Name}}> </app-tablestudent>
        </div>
    </div>
</div>