h1 {
    margin: 20px;
    font-size: 1.5rem;
    padding-bottom: 20px;
    color: #1E2022;
}

.studentCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    overflow: hidden;
    margin: 10px;
}

.studentCardContainer .studentCard {
    display: flex;
    flex-direction: row;
    width: calc(100% - 20px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #F0F5F9;
    color: #1E2022;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.studentCardContainer .studentCard .studentImg img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.studentCardContainer .studentCard .studentInfo {
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    position: absolute;
    font-size: 0.8rem;
    top: 0;
}

.btnDetails {
    position: absolute;
    right: 30px;
    bottom: 10px;
}

.btnDetails button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E2022;
    max-height: 20px;
    max-width: 100%;
    color: #F0F5F9;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.5rem;
}

.btnDetails button:hover {
    background-color: #F0F5F9;
    color: #1E2022;
    border: solid 1px #1E2022;
}

@media (max-width: 767px) {
    .studentCardContainer {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
}