<div class="modal">
    <div class="container">
        <div class="card">
            <header></header>
            <div class="colscontainer">
                <div class="leftcol">
                    <div class="imgcontainer"><img src="{{userDetail.teacherImg}}" alt=""></div>
                    <div class="info">
                        <div class="name">{{userDetail.teacherName}}</div>
                        <div class="course">{{userDetail.Subject}}
                        </div>
                        <div class="studentid">Student ID: {{userDetail.teacherID}}</div>
                    </div>
                </div>
            </div>
            <div class="btnContainer">
                <button (click)="goBackConfirm(true)">
                    Go Back
                </button>
            </div>
        </div>
    </div>