.student-table {
    width: 100%;
    border-collapse: collapse;
    color: #C9D6DF;
}

.student-table td {
    width: 200px;
    height: 20px;
    border: 1px solid #F0F5F9;
    text-align: center;
}

.image-cell img {
    max-width: 50px;
    padding: 10px;
    border-radius: 20px;
}

.name {
    font-weight: bold;
}

button {
    background-color: #1E2022;
    color: #F0F5F9;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #F0F5F9;
    color: #1E2022;
}