//desktop
* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "side header" "side main";
    margin: -8px;
    height: 100vh;
    overflow: hidden;
}

.header {
    background-color: #3d474e;
    grid-area: header;
    border: solid 0.5px #F0F5F9;
}

.sidebar {
    background-color: #1E2022;
    grid-area: side;
    border: solid 0.5px #F0F5F9;
}

.main {
    background-color: #C9D6DF;
    grid-area: main;
}

//mediumsizeddevices
@media (max-width: 800px) {
    body {
        max-height: 100dvh;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: 60px 1fr;
        grid-template-areas: "side header" "side main";
        background-color: #C9D6DF;
    }
    .header {
        background-color: #3d474e;
        grid-area: header;
    }
    .sidebar {
        background-color: #1E2022;
        grid-area: side;
        min-width: 50px;
        top: 0;
        height: 100%;
        z-index: 1;
    }
    .main {
        background-color: #C9D6DF;
        grid-area: main;
        max-height: 100dvh;
        overflow-y: auto;
    }
}

//mobiledevices
@media (max-width: 412px) {
    body {
        max-height: 100dvh;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: 60px 1fr;
        grid-template-areas: "side header" "side main";
        background-color: #C9D6DF;
    }
    .header {
        background-color: #3d474e;
        grid-area: header;
    }
    .sidebar {
        background-color: #1E2022;
        grid-area: side;
        min-width: 50px;
        top: 0;
        height: 100%;
        z-index: 1;
    }
    .main {
        background-color: #C9D6DF;
        grid-area: main;
        max-height: 100dvh;
        overflow-y: auto;
    }
}