.layout {
    flex: 1;
    display: grid;
    grid-template-columns: 65px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "sidebar header" "sidebar main";
    background-color: #f2f2f2;
    height: 100vh;
}

.header-container {
    position: sticky;
    top: 0;
    background-color: #3d474e;
    grid-area: header;
    z-index: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.header {
    padding: 0;
}

.sidebar {
    background-color: #1E2022;
    position: fixed;
    top: 0;
    left: 0;
    width: 65px;
    height: 100%;
    overflow: hidden;
    transition: width 0.3s ease;
    z-index: 2;
}

.sidebar:hover {
    width: 250px;
}

.main {
    background-color: #C9D6DF;
    grid-area: main;
    flex: 1;
}