<div class="container">
    <div class="card">
        <header></header>
        <div class="colscontainer">
            <div class="leftcol">
                <div class="imgcontainer"><img src="{{teachersImg}}" alt=""></div>
                <div class="info">
                    <div class="name">{{teacherName}}</div>
                    <div class="course">{{Subject}}
                    </div>
                    <div class="studentid">Teacher ID: {{teachersID}}</div>
                </div>

            </div>
        </div>

    </div>
</div>