<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Screen</title>
</head>

<body>
    <div class="headerwrapper">
        <header></header>
        <div class="colscontainer">
            <div class="leftcol">
                <div class="imgcontainer">
                    <img src="assets/img1.jpg" alt="img">
                </div>
                <h2>{{name}}</h2>
                <p>BSIT 3-1 Student</p>
                <p>{{github}}</p>
                <div class="content"></div>
            </div>
            <div class="rightcol">
            </div>
            <div class="cards">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</body>

</html>