        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        
        .card {
            width: 50%;
            height: 50vh;
            background-color: #F0F5F9;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border: 1px solid #ccc;
            border-radius: 5px;
            margin: 20px;
            padding: 20px;
            box-shadow: 2px 5px 8px 0px #1E2022;
            font-family: 'Times new roman', sans-serif;
        }
        
        .img {
            display: flex;
            justify-content: center;
        }
        
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: solid 2px black;
        }
        
        .name {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
        
        .studentid {
            font-size: 16px;
            text-align: center;
        }
        
        .course {
            font-size: 16px;
            text-align: center;
        }
        
        .info {
            margin-top: 3%;
        }
        
        .table {
            width: 30%;
            background-color: #F0F5F9;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border: 1px solid #ccc;
            border-radius: 5px;
            margin: 20px;
            padding: 20px;
            box-shadow: 2px 5px 8px 0px #1E2022;
            font-family: 'Times new roman', sans-serif;
        }